<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Unovoyage</title>

        <!-- CSS -->        
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Roboto:300,400,500">
        <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/font-awesome/css/font-aesome.min.css">
        <link rel="stylesheet" href="/assets/css/animate.css">
        <link rel="stylesheet" href="/assets/css/indexstyle.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="/assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body>
    
      <!-- Top menu -->
     <nav class="navbar navbar-inverse navbar-fixed-top navbar-no-bg" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
            <span class="sr-only">Unovoyage</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="nav navbar-nav " href="/">Unovoyage</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="top-navbar-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/adminLogin">Login</a></li>
            <li><a href="/register">Sign Up</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
      <!-- Top content -->
        <div class="top-content">
          <div class="container">
        <div class="row">
          <div class="col-sm-12 text wow fadeInLeft">
            <h1>Explore The World</h1>
            <div class="description">
              <p class="medium-paragraph">
                Unovoyage is a leading solo travel guide known for its “tell it like it is” attitude, accurate, up-to-date content and group selection process.
              </p>
            </div>
          </div>
        </div>
            </div>
        </div>
        
        <!-- Features -->
        <div class="features-container section-container">
          <div class="container">
            
              <div class="row">
                  <div class="col-sm-12 features section-description wow fadeIn">
                      <h2>Unovoyage-Escape from everyday into Destinations</h2>
                      <div class="divider-1"><div class="line"></div></div>
                  </div>
              </div>
              
              <div class="row">
                  <div class="col-sm-6 features-box wow fadeInLeft">
                    <div class="row">
                      <div class="col-sm-9">
                        <h3>17 gloriously remote places for a secluded escape</h3>
                          <p>
                  If you’re sick of jostling for towel space on the beach, or tired of selfie sticks bobbing about in front of that scenic mountain vista, then here are some pointers to terrain less trodden.
                          </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 features-box wow fadeInLeft">
                    <div class="row">
                      <div class="col-sm-9">
                        <h3>9 tips for travelling in Costa Rica</h3>
                          <p>
                            Inspired by pictures of Costa Rica’s primordial-looking shores, rainforests brimming with exotic creatures and steaming volcanoes that tower above the clouds?…
                          </p>
                      </div>
                    </div>
                  </div>
              </div>
              
              <div class="row">
                  <div class="col-sm-6 features-box wow fadeInLeft">
                    <div class="row">
                      <div class="col-sm-9">
                        <h3>The best pub walks in Britain</h3>
                          <p>
                            From its dramatic coastline to its upland mountains, from its stirring moorland to its bucolic inland shires, Britain’s wildly diverse landscapes
                          </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 features-box wow fadeInLeft">
                    <div class="row">
                      <div class="col-sm-9">
                        <h3> 7 signs it's time to book your next trip</h3>
                          <p>
                            Is life at home getting you down? Each day starting to feel like a track repeat? Perhaps you’re thinking about giving it all up 
                          </p>
                      </div>
                    </div>
                  </div>
              </div>

          </div>
        </div>
        
        <!-- Footer -->
        <footer>
          <div class="container">
            <div class="row">
              <div class="col-sm-12 footer-copyright">
                      &copy; Unovoyage by A01
                    </div>
                </div>
          </div>
        </footer>


        <!-- Javascript -->
        <script src="assets/js/jquery-1.11.1.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.backstretch.min.js"></script>
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/retina-1.1.0.min.js"></script>
        <script src="assets/js/waypoints.min.js"></script>
        <script src="assets/js/scripts.js"></script>
        
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>